<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings._2025_T3_DBConnectionString"
            connectionString="Data Source=Pedro;Initial Catalog=2025_T3_DB;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>