<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryDB"
            connectionString="Data Source=myserver-phelippe.database.windows.net;Initial Catalog=LibraryDB;Persist Security Info=True;User ID=phelippe;Password=@Metz1603;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
		
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>