<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controller.Properties.Settings._2025_T3_DBConnectionString"
     connectionString="Server=tcp:myserver-phelippe.database.windows.net,1433;Initial Catalog=LibraryDB;Persist Security Info=False;User ID=phelippe;Password=@Metz1603;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
     providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>